<div class="rxjsContainer">
  <div>
    <nz-card [nzCover]="switchMergeConcatExhaustTemplate" nzHoverable [routerLink]="['merge-concat-switch-exhausted']">
      <nz-card-meta nzTitle="switchMap mergeMap concatMap exhaustMap"></nz-card-meta>
    </nz-card>
    <ng-template #switchMergeConcatExhaustTemplate>
      <img alt="switch-merge-concat-exhaust" src="assets/switch-merge-concat-exhaust.jpg" class="card-image"/>
    </ng-template>
  </div>
  <div>
    <nz-card [nzCover]="debounceThrottleTemplate" nzHoverable [routerLink]="['debounce-throttle-time']">
      <nz-card-meta nzTitle="debounceTime throttleTime"></nz-card-meta>
    </nz-card>
    <ng-template #debounceThrottleTemplate>
      <img alt="switch-merge-concat-exhaust" src="assets/debounce-throttle.jpg" class="card-image"/>
    </ng-template>
  </div>
</div>
