.main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.ant-card {
  width: 300px;

  img {
    padding: 1rem;
    width: 300px;
    height: 300px;
  }

  .ant-card-meta {
    text-align: center;
  }
}

